article.login, article.register, article.timecard{
    width: 500px; 
    margin-left: 25%; 
    margin-right: 25%;
    margin-top: 10%;
    background-color: #F5F5FF;
    border-bottom: 2px solid #DADADB;
    border-left: 1px solid #DADADB;
    border-right: 1px solid #DADADB;
    border-top: 1px solid #DADADB;
    padding: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.hide{
    display:none;
}

#footer-text{ 
    position:relative;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%   ;
}

#reg:hover{
    cursor:pointer
}